@font-face {
  font-family: 'Tyros';
  src:
    url('./fonts/Tyros/TyrosPro-Regular.woff2') format('woff2'),
    url('./fonts/Tyros/TyrosPro-Regular.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Tyros', sans-serif;
  color: antiquewhite;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 50px;
}

h4 {
  font-size: 28px;
}

.recent-scores-title-container {
  display: flex;
  gap: 2rem;
  align-items: baseline;
}

.scores-container {
  display: flex;
  gap: 10rem;
  margin-top: 3rem;
  padding-left: 2rem;
}

.add-scores {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

input[type='text'],
input[type='submit'],
input[type='number'],
button {
  border-radius: 5px;
  border: none;
  outline: none;
}

input[type='text'],
input[type='number'] {
  color: black;
  padding: 2px 5px;
}

button {
  cursor: pointer;
  font-size: 17px;
  box-shadow: 2px 5px 3px;
  color: black;
  padding: 3px 5px;
  border: none;
  outline: none;
}

button:hover {
  transform: scale(1.2);
}

input {
  height: 2rem;
}

input[type='submit'] {
  width: 40%;
  margin-left: 60%;
  cursor: pointer;
  background-color: #4caf50;
  color: aliceblue;
  border-radius: 5px;
}

input[type='submit']:hover {
  transform: scale(1.2);
  box-shadow: 1px 2px 2px;
}

#scores-list {
  border: 1px solid antiquewhite;
  margin-top: 1.5rem;
}

li {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  height: 1.5rem;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

li:nth-child(even) {
  background-color: #777;
}

li:nth-child(odd) {
  background-color: rgb(31, 30, 30);
}
